--
-- PostgreSQL database dump
--

\restrict suRoBZKftC2mckVxW07FUAHQOqd3gB9x0C3oiLjpBYvgEJZafJZYAwejIR6zDLF

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: myuser
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO myuser;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: myuser
--

COMMENT ON SCHEMA public IS '';


--
-- Name: HolidayType; Type: TYPE; Schema: public; Owner: myuser
--

CREATE TYPE public."HolidayType" AS ENUM (
    'NATIONAL',
    'COMPANY',
    'TEAM',
    'EMPLOYEE'
);


ALTER TYPE public."HolidayType" OWNER TO myuser;

--
-- Name: LeaveCadence; Type: TYPE; Schema: public; Owner: myuser
--

CREATE TYPE public."LeaveCadence" AS ENUM (
    'ANNUAL',
    'MONTHLY'
);


ALTER TYPE public."LeaveCadence" OWNER TO myuser;

--
-- Name: LeaveStatus; Type: TYPE; Schema: public; Owner: myuser
--

CREATE TYPE public."LeaveStatus" AS ENUM (
    'PENDING_MANAGER',
    'APPROVED_BY_MANAGER',
    'APPROVED_BY_ADMIN',
    'DENIED',
    'CANCELLED',
    'PENDING_ADMIN',
    'CANCELLATION_REQUESTED'
);


ALTER TYPE public."LeaveStatus" OWNER TO myuser;

--
-- Name: LeaveUnit; Type: TYPE; Schema: public; Owner: myuser
--

CREATE TYPE public."LeaveUnit" AS ENUM (
    'DAYS',
    'HOURS'
);


ALTER TYPE public."LeaveUnit" OWNER TO myuser;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: myuser
--

CREATE TYPE public."Role" AS ENUM (
    'EMPLOYEE',
    'ADMIN',
    'SUPER_ADMIN'
);


ALTER TYPE public."Role" OWNER TO myuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: EmployeeProfile; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."EmployeeProfile" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    "position" text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "managerId" text,
    "workScheduleId" text
);


ALTER TABLE public."EmployeeProfile" OWNER TO myuser;

--
-- Name: Holiday; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."Holiday" (
    id text NOT NULL,
    name text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    type public."HolidayType" DEFAULT 'COMPANY'::public."HolidayType" NOT NULL,
    "teamId" text,
    "employeeId" text,
    "createdBy" text NOT NULL,
    "isLocked" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Holiday" OWNER TO myuser;

--
-- Name: LeaveBalance; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."LeaveBalance" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    "leaveTypeId" text NOT NULL,
    total double precision NOT NULL,
    remaining double precision NOT NULL,
    year integer NOT NULL,
    month integer,
    "isManualOverride" boolean DEFAULT false NOT NULL,
    "isLocked" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."LeaveBalance" OWNER TO myuser;

--
-- Name: LeaveRequest; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."LeaveRequest" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    "leaveTypeId" text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    status public."LeaveStatus" DEFAULT 'PENDING_MANAGER'::public."LeaveStatus" NOT NULL,
    "denialReason" text,
    "cancellationReason" text,
    "skipReason" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "approvedById" text,
    "deniedById" text,
    "cancelledById" text,
    "approvedAt" timestamp(3) without time zone,
    "deniedAt" timestamp(3) without time zone,
    "cancelledAt" timestamp(3) without time zone
);


ALTER TABLE public."LeaveRequest" OWNER TO myuser;

--
-- Name: LeaveRequestAudit; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."LeaveRequestAudit" (
    id text NOT NULL,
    "leaveRequestId" text NOT NULL,
    "changedById" text NOT NULL,
    "previousStatus" public."LeaveStatus" NOT NULL,
    "newStatus" public."LeaveStatus" NOT NULL,
    reason text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."LeaveRequestAudit" OWNER TO myuser;

--
-- Name: LeaveType; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."LeaveType" (
    id text NOT NULL,
    name text NOT NULL,
    "defaultAllowance" double precision DEFAULT 0 NOT NULL,
    unit public."LeaveUnit" DEFAULT 'DAYS'::public."LeaveUnit" NOT NULL,
    cadence public."LeaveCadence" DEFAULT 'ANNUAL'::public."LeaveCadence" NOT NULL
);


ALTER TABLE public."LeaveType" OWNER TO myuser;

--
-- Name: User; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role public."Role" DEFAULT 'EMPLOYEE'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO myuser;

--
-- Name: WorkSchedule; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."WorkSchedule" (
    id text NOT NULL,
    name text NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    "isMonday" boolean DEFAULT true NOT NULL,
    "isTuesday" boolean DEFAULT true NOT NULL,
    "isWednesday" boolean DEFAULT true NOT NULL,
    "isThursday" boolean DEFAULT true NOT NULL,
    "isFriday" boolean DEFAULT false NOT NULL,
    "isSaturday" boolean DEFAULT true NOT NULL,
    "isSunday" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "endTime" timestamp(3) without time zone NOT NULL,
    "startTime" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."WorkSchedule" OWNER TO myuser;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO myuser;

--
-- Data for Name: EmployeeProfile; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public."EmployeeProfile" (id, "userId", "firstName", "lastName", "position", "startDate", "managerId", "workScheduleId") FROM stdin;
\.


--
-- Data for Name: Holiday; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public."Holiday" (id, name, date, type, "teamId", "employeeId", "createdBy", "isLocked", "createdAt") FROM stdin;
\.


--
-- Data for Name: LeaveBalance; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public."LeaveBalance" (id, "employeeId", "leaveTypeId", total, remaining, year, month, "isManualOverride", "isLocked") FROM stdin;
\.


--
-- Data for Name: LeaveRequest; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public."LeaveRequest" (id, "employeeId", "leaveTypeId", "startDate", "endDate", status, "denialReason", "cancellationReason", "skipReason", "createdAt", "updatedAt", "approvedById", "deniedById", "cancelledById", "approvedAt", "deniedAt", "cancelledAt") FROM stdin;
\.


--
-- Data for Name: LeaveRequestAudit; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public."LeaveRequestAudit" (id, "leaveRequestId", "changedById", "previousStatus", "newStatus", reason, "createdAt") FROM stdin;
\.


--
-- Data for Name: LeaveType; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public."LeaveType" (id, name, "defaultAllowance", unit, cadence) FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public."User" (id, email, password, role, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: WorkSchedule; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public."WorkSchedule" (id, name, "isDefault", "isMonday", "isTuesday", "isWednesday", "isThursday", "isFriday", "isSaturday", "isSunday", "createdAt", "updatedAt", "endTime", "startTime") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Name: EmployeeProfile EmployeeProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."EmployeeProfile"
    ADD CONSTRAINT "EmployeeProfile_pkey" PRIMARY KEY (id);


--
-- Name: Holiday Holiday_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."Holiday"
    ADD CONSTRAINT "Holiday_pkey" PRIMARY KEY (id);


--
-- Name: LeaveBalance LeaveBalance_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."LeaveBalance"
    ADD CONSTRAINT "LeaveBalance_pkey" PRIMARY KEY (id);


--
-- Name: LeaveRequestAudit LeaveRequestAudit_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."LeaveRequestAudit"
    ADD CONSTRAINT "LeaveRequestAudit_pkey" PRIMARY KEY (id);


--
-- Name: LeaveRequest LeaveRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."LeaveRequest"
    ADD CONSTRAINT "LeaveRequest_pkey" PRIMARY KEY (id);


--
-- Name: LeaveType LeaveType_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."LeaveType"
    ADD CONSTRAINT "LeaveType_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WorkSchedule WorkSchedule_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."WorkSchedule"
    ADD CONSTRAINT "WorkSchedule_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: EmployeeProfile_userId_key; Type: INDEX; Schema: public; Owner: myuser
--

CREATE UNIQUE INDEX "EmployeeProfile_userId_key" ON public."EmployeeProfile" USING btree ("userId");


--
-- Name: LeaveBalance_employeeId_leaveTypeId_year_month_key; Type: INDEX; Schema: public; Owner: myuser
--

CREATE UNIQUE INDEX "LeaveBalance_employeeId_leaveTypeId_year_month_key" ON public."LeaveBalance" USING btree ("employeeId", "leaveTypeId", year, month);


--
-- Name: LeaveType_name_key; Type: INDEX; Schema: public; Owner: myuser
--

CREATE UNIQUE INDEX "LeaveType_name_key" ON public."LeaveType" USING btree (name);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: myuser
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: WorkSchedule_name_key; Type: INDEX; Schema: public; Owner: myuser
--

CREATE UNIQUE INDEX "WorkSchedule_name_key" ON public."WorkSchedule" USING btree (name);


--
-- Name: EmployeeProfile EmployeeProfile_managerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."EmployeeProfile"
    ADD CONSTRAINT "EmployeeProfile_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES public."EmployeeProfile"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: EmployeeProfile EmployeeProfile_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."EmployeeProfile"
    ADD CONSTRAINT "EmployeeProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: EmployeeProfile EmployeeProfile_workScheduleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."EmployeeProfile"
    ADD CONSTRAINT "EmployeeProfile_workScheduleId_fkey" FOREIGN KEY ("workScheduleId") REFERENCES public."WorkSchedule"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Holiday Holiday_createdBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."Holiday"
    ADD CONSTRAINT "Holiday_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Holiday Holiday_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."Holiday"
    ADD CONSTRAINT "Holiday_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."EmployeeProfile"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LeaveBalance LeaveBalance_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."LeaveBalance"
    ADD CONSTRAINT "LeaveBalance_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."EmployeeProfile"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: LeaveBalance LeaveBalance_leaveTypeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."LeaveBalance"
    ADD CONSTRAINT "LeaveBalance_leaveTypeId_fkey" FOREIGN KEY ("leaveTypeId") REFERENCES public."LeaveType"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: LeaveRequestAudit LeaveRequestAudit_changedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."LeaveRequestAudit"
    ADD CONSTRAINT "LeaveRequestAudit_changedById_fkey" FOREIGN KEY ("changedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: LeaveRequestAudit LeaveRequestAudit_leaveRequestId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."LeaveRequestAudit"
    ADD CONSTRAINT "LeaveRequestAudit_leaveRequestId_fkey" FOREIGN KEY ("leaveRequestId") REFERENCES public."LeaveRequest"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: LeaveRequest LeaveRequest_approvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."LeaveRequest"
    ADD CONSTRAINT "LeaveRequest_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LeaveRequest LeaveRequest_cancelledById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."LeaveRequest"
    ADD CONSTRAINT "LeaveRequest_cancelledById_fkey" FOREIGN KEY ("cancelledById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LeaveRequest LeaveRequest_deniedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."LeaveRequest"
    ADD CONSTRAINT "LeaveRequest_deniedById_fkey" FOREIGN KEY ("deniedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LeaveRequest LeaveRequest_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."LeaveRequest"
    ADD CONSTRAINT "LeaveRequest_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."EmployeeProfile"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: LeaveRequest LeaveRequest_leaveTypeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."LeaveRequest"
    ADD CONSTRAINT "LeaveRequest_leaveTypeId_fkey" FOREIGN KEY ("leaveTypeId") REFERENCES public."LeaveType"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: myuser
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict suRoBZKftC2mckVxW07FUAHQOqd3gB9x0C3oiLjpBYvgEJZafJZYAwejIR6zDLF

